body{
    background-image: url(https://cdn.alfabetajuega.com/alfabetajuega/abj_public_files/multimedia/imagenes/201511/127018.alfabetajuega-pokemon-wallpapers-9-071115.jpg);
    background-repeat: no-repeat;
    background-size: 1280px  595px;
  background-attachment: fixed;
}