body{
    background-image: url(https://cdn.alfabetajuega.com/alfabetajuega/abj_public_files/multimedia/imagenes/201511/127018.alfabetajuega-pokemon-wallpapers-9-071115.jpg);
    background-repeat: no-repeat;
    background-size: 1280px  595px;
  background-attachment: fixed;
}



@media (max-width: 600px) {
  body{
    background-image: url(https://pbs.twimg.com/media/EjTHX_lXcAAa0o8.jpg);
    background-repeat: no-repeat;
    background-size: 1280px  2600px;
  background-attachment: fixed;
}



}